# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
.metadata

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Generated plugin registrant (root plugin project only)
/ios/Runner/
/ios/Flutter/
/android/app/
/android/local.properties

# Example app generated/cached files
example/.dart_tool/
example/build/
example/pubspec.lock
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.idea/
example/*.iml
example/.metadata
example/android/.gradle/
example/android/local.properties
example/ios/.symlinks/
example/ios/Pods/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/Flutter.podspec
CLAUDE.md
